<div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.picture_url %>')">
  <%= plant.name %>

  <%= link_to plant_path(plant),
    class: "card-top-icon-link danger-link position-absolute top-0 start-100 rounded-circle translate-middle" ,
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure you want to delete this plant?"
    } do %>
    <i class="fa-solid fa-trash fa-xs"></i>
  <% end %>

  <div class="card-tags">
    <% plant.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </div>
  <%= link_to '+', new_plant_plant_tag_path(plant), class: "plus-link" %>
</div>
